// Base/default styles for webslinger.io
$font_header: 'League Gothic'; // leaguegothic.css
$font_body: 'Adobe Garamond', 'Garamond', 'Georgia', 'Times New Roman', 'serif';

body {
    background: #000;
    font-family: $font_body;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

canvas {
    background: #000;
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
